:root
{
    --main-color: #128C7E;
    --main-color-secondary: #25D366;
    --main-color-white: #fff;
    --main-color-gray: gray;
    --main-color-like-gray: #ccc;
    --main-color-like-white: #efefef;
}