

i
{
    color: var(--main-color-gray);
    font-size: 0.5rem;
}
.home-top
{
    height: 80px;
    background-color: var(--main-color);
}
.home-body
{
    height: calc(100vh - 80px);
    background-color: var(--main-color-like-white);
}

.home-content
{
    width: 90%;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color-like-gray);
}

aside
{
    min-width: 350px;
    max-width: 500px;
    background-color: var(--main-color-white);
}

.aside-home-description
{
    padding:  10px;
}

.profil-image img
{
    border-radius: 300px;
    cursor: pointer;
}

.aside-home-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 20px;
    width: 20px;
    height: 20px;
}

.aside-home-icon:hover
{
    background-color: var(--main-color-like-white);
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50px;    
}

.aside-home-icon .dot-add-new-status
{
    top: 11px;
   left: 19px;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: var(--main-color);
}

.home-description
{
    padding: 8px;
    /* background-color: var(--main-color-like-white); */
}

.aside-setting,
.aside-profil,
.aside-stickers,
.aside-discussion
{
    display: none;
}

.profil-description-top,
.setting-description-top,
.stickers-description-top,
.discussion-description-top
{
    height: 50px;
    padding: 10px 20px;
     background-color: var(--main-color-secondary);
    color: var(--main-color-white);
}

.profil-description-top i,
.setting-description-top i,
.stickers-description-top i,
.discussion-description-top i
{
    color: var(--main-color-white);
    cursor: pointer;
}

.setting-description-body
{
    padding: 20px 0;
}
.user-setting-details
{
    margin-bottom: 10px;
    padding: 0 20px;
}
.user-pseudo .user-name
{
    font-weight: bold;
    /* font-size: 0.8rem; */
}
.user-pseudo .user-slogan
{
    font-size: 0.8rem;
    color: var(--main-color-gray);
    padding-top: 3px;
}

.user-options,
.stickers-options
{
    margin: 20px 0;
}

.user-options li.user-option,
.stickers-options li.stickers-option
{
    height: 45px;
    padding: 10px 20px;
    /* border: 1px solid black; */
}
.stickers-option
{
    border-bottom:  0.1px solid var(--main-color-gray);
}
.user-option i,
.stickers-option i
{
    font-size: 1.4rem;
}
.stickers-option-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: green; */
    /* padding: 5px; */
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.stickers-option-icon i
{
    display: block;
    color: var(--main-color-white);
    transform: rotate(135deg);
}
.stickers-option .option-name
{
    font-weight: bold;
    font-size: 1.1rem;
}
.stickers-option .option-details
{
    color: var(--main-color-gray);
}
.aside-profil i
{
    font-size: inherit;
}
.aside-profil .aside-profil-body
{
    height: calc(100vh - 118px);
    overflow: auto;
    /* border: 1px solid blue; */
}
.profil-image-container
{
    height: 120px;
    background-color: #EAF2F8;
}
.profil-image-container .profil-image
{
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.profil-image-container .profil-image > i
{
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    right: 20px;
    bottom: 80px;
    background-color: var(--main-color-white);
    cursor: pointer;
    color: var(--main-color);
}
.profil-image-container .profil-image .owner-image
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 300px;
}
.profil-image .owner-image img
{
    width: 100%;
    height: 100%;
}
.profil-image .owner-image .box-shadow-image
{   
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    border-radius: 300px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--main-color-white);
    font-weight: bold;
    background-color: var(--main-color-black);
    cursor:pointer;
    opacity: 0.7;
}
.profil-image .owner-image .box-shadow-image i
{
    color: var(--main-color-white);
    font-size: 1.5rem !important;
}

/* .profil-image-container .profil-image img
{
} */

.profil-image-container .profil-image i:hover
{
    background-color: var(--main-color-like-gray);
    /* color: var(--main-color-white); */
}
.profil-details-container
{
    margin-top: 70px;
    background-color: var(--main-color-white);
    
}
.profil-details-container i
{
    top: 5px;
}
.profil-details-container .owner-visibility
{
    font-size: 0.8rem;
    margin: 15px 0;
}
.profil-details-container .owner-infos,
.aside-profil .profil-option
{
    padding: 20px;
}
.profil-details-container .owner-infos:hover,
.aside-profil .profil-option:hover
{
    cursor: pointer;
    background-color: var(--main-color-like-white);
}
.profil-option .profil-option-title
{
    font-size: 0.9rem;
} 
.profil-option i.profil-option-modified
{
    cursor: pointer;
}
.main .main-icon:hover
{
    background-color: var(--main-color-white);
}

.profil-search-box
{
    margin: 5px 0;
    border-bottom: 0.5px solid var(--main-color-like-white);
    padding-bottom: 10px;
}
.profil-search-box > i
{
    cursor: pointer;
}

.profil-search
{
    margin-left: 10px;
    padding: 10px;
}
.profil-search
{
    background-color: var(--main-color-like-white);
    border-radius: 5px;
}

.profil-search input
{
    border: none;
    outline: none;
    background-color: var(--main-color-like-white);
    flex: 1;
    font-size: 1.1rem;
}
.profil-search-box i:last-child
{
    margin-right: 10px;
}

.more-options
{
    display: none;
    width: 250px;
    text-align: center;
    top: 55px;
    right: 15px;    
    box-shadow: 2px 4px 8px var(--main-color-gray);
    background-color: var(--main-color-white);
}
.more-options ul li
{
    padding: 10px;
}
.more-options ul li:hover
{
    cursor: pointer;
    background-color: var(--main-color-like-white);
}
.archive
{
    font-size: 0.5rem;
    margin-left: 10px;
    font-weight: bold;
}

.main-archive
{
    border-bottom: 0.5px solid var(--main-color-like-white);
    padding: 10px;
}
.archive .archive-number-discussion
{
    background-color: var(--main-color-like-white);
    color: var(--main-color-secondary);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
}

.archive i
{
    color: var(--main-color-secondary);
}

.discussion
{
    height: calc(100vh - 184px);
    overflow: auto;
}

.discussion::-webkit-scrollbar
{
    width : 10px;
}

.discussion::-webkit-scrollbar-track
{
    background-color : var(--main-color-like-white);
}

.discussion::-webkit-scrollbar-thumb
{
    background-color : var(--main-color);
}

.discussion-item,
.contact-item
{
    height: 30px;
    padding: 10px;
}

.user-options li.user-option:hover,
.discussion-item:hover,
.contact-item:hover,
.stickers-options li.stickers-option:hover
{
    cursor: pointer;
    background-color: var(--main-color-like-white);
}
.correspondent-image img,
.contact-image img
{
    border-radius: 50px;
    cursor: pointer;
}
.contact-item .contact-pseudo
{
    font-weight: bold;
    font-size: 0.9rem;
}
.discussion-item .correspondent-starting-message,
.contact-item .contact-starting-message,
.discussion-current-time
{
    font-size: 0.8rem;
}

.view
{
    color: var(--main-color-blue);
}

.not-view
{
    color: var(--main-color-gray);
}

.aside-discussion .profil-search-box
{
    margin-right: 10px;
}
.main
{
    width: 100%;
    background-color: var(--main-color-like-gray);
    border-bottom: 5px solid var(--main-color-secondary);
}

.main-home
{
    height: calc(100vh - 30px);
}
.main-home-content
{
    width: 480px;
}

h1.description-title
{
    font-size: 1.5rem;
    color: var(--main-color-gray);
    font-weight: normal;
}

.main-description
{
    margin: 0 auto;
    width: 350px;
}

.main-description p
{
    font-size: 0.5rem;
}

.main .main-header
{
    height: 50px;
    padding: 0 20px;
    border-left: 1px solid var(--main-color-like-gray);
    background-color: var(--main-color-like-white);
}

.main-header > i
{
    font-size: 1.2rem;
    cursor: pointer;
}

/* 
.main .correspondent-infos
{

} */
#main-content
{
    display : none;
}

.main-body
{
    height: calc(100vh - 180px);
    padding: 20px 35px;
    overflow: auto;
    background-color: var(--main-color-like-gray);
    background-image: url("../images/background/bg-chat.png");
}

.main-body::-webkit-scrollbar,
.aside-profil-body::-webkit-scrollbar
{
    width : 10px;
}

.main-body::-webkit-scrollbar-track,
.aside-profil-body::-webkit-scrollbar-track
{
    background-color : var(--main-color-like-white);
}

.main-body::-webkit-scrollbar-thumb,
.aside-profil-body::-webkit-scrollbar-thumb
{
    background-color : var(--main-color);
}

.receiver-text,
.sender-text
{
    width: 460px;
    margin: 10px 0;
    font-size: 0.5rem;
    border-radius: 5px;
}

.receiver-text
{
    align-self: flex-start;
    background-color: var(--main-color-white);   
}


/* 
.receiver-text::before
{
    width: 200px;
    height: 200px;
    background-color: red;
    content: " ";
} */
.discussion-details
{
    right: 8px;
    bottom: 5px;
}

.text
{
    padding-bottom: 12px;
}

.sender-text
{
    align-self: flex-end;
    background-color: lightgreen;
}

.text-box
{
    width: 100%;
    padding: 8px 5px;
    box-sizing: border-box;
    /* height: 40px; */
    bottom: 0;
    left: 0;
    background-color: var(--main-color-like-white);
    box-shadow: 1px 2px 0px var(--main-color-gray);
    /* border: 0.1px solid var(--main-color-white);
    border-left: none; */
}

.text-box i
{
    font-size: 1.1rem;
}
.text-box input
{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: var(--main-color-white);
    color: var(--main-color-gray);
    outline: none;
    border: none;
    font-size: 1.2rem;
}
.text-box input::placeholder
{
    padding-left: 10px;
}
.sender-text i.fa-share
{
    font-size: 0.8rem;
    padding: 5px;
    left: -30px;
    border-radius: 50px;
    color: var(--main-color-white);
    background-color: var(--main-color-gray);
}
.text-file-transfert img
{
    width: 100%;
}

@media screen and (max-width: 970px) 
{ 
  .home .home-content
  {
    width: 90%;
  }  
  .home-content aside
  {
    width: 100%;
    max-width: none;
    min-width: auto;
    animation: 2s linear slideINLetfToRight;
  }

  .profil-search-box
  {
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: center;
  }

  .main
  {
    display: none;
  }

  .main-content .main-body
  {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header i
  {
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
  }
  .main-description,
  .users-text .sender-text,
  .users-text .receiver-text
  {
    width: 80%;
  }    
} 

@media screen and (min-width: 971px)
{  
    .home aside
    {
        display: block !important;
    }    
}
